# make a new .env file with the following content, replacing the placeholders with your actual values

BOT_TOKEN=BOT_TOKEN
CLIENT_ID=CLIENT_ID
GUILD_ID=GUILD_ID

# local valkey server
VALKEY_ADDR=valkey:6379 # KEEP THIS AS IS BECAUSE OF DOCKER COMPOSE
ALERT_CHANNEL_ID=ALERT_CHANNEL_ID

EXCLUDED_CHANNELS=ID1,ID2,ID3
SIMILARITY_MIN=0.85
ALERT_AFTER=3
WINDOW_SECONDS=300